body {
    background-image: url('../images/timg.jpg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.img>img {
    width: 300px;
}
h2>span {
    margin-left: 15px;
}
